div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
}
button {
  margin-top: 10px;
  cursor: pointer;
}
span {
  color: red;
}
