.formContainer{
    background-color: #15213a;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .formWrapper{
        background-color: white;
        padding: 20px 60px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        .logo{
            color: #048593;
            font-weight: bold;
            font-size: 24px;
        }

        .title{
            color: #048593;
            font-weight: bold;
            font-size: 12px;
        }

        form{
            display: flex;
            flex-direction: column;
            gap: 15px;

            input{
                padding: 15px;
                border: none;
                width: 250px;
                border-bottom: 1px solid #15213a;
                &::placeholder{
                    color: rgb(121, 120, 120);
                }
            }

            button{
                background-color: #15213a;
                color: white;
                padding: 10px;
                font-weight: bold;
                border: none;
                cursor: pointer;
            }

            label{
              display: flex;
              align-items: center;
              gap: 10px;
              color: #048593;
              font-size: 12px;
              cursor: pointer;

              img{
                width: 32px;
              }
            }
        }
        p{
            color: #048593;
            font-size: 12px;
            margin-top: 10px;
        }
    }
}

.home{
    background-color: #15213a;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .container{
        border: 1px solid white;
        border-radius: 10px;
        width: 65%;
        height: 80%;
        display: flex;

        .sidebar{
            flex: 1;
            border-right: 1px solid #15213a;
            background-color: #048593;
        }
        .chat{
            flex: 2;
        }
    }
}